
.uni-transition {
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: transform, opacity;
  }
  
  .slide-bottom-in {
    transform: translateY(100%);
  }
  
  .slide-bottom-active {
    transform: translateY(0);
  }
  
  .uni-popup {
    position: fixed;
    /* #ifdef H5 */
    top: var(--window-top);
    /* #endif */
    /* #ifndef H5 */
    top: 0;
    /* #endif */
    bottom: 0;
    left: 0;
    right: 0;
    /* #ifndef APP-NVUE */
    z-index: 1000;
    /* #endif */
  }
  
  .uni-popup__mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
  }
  
  .mask-ani {
    transition-property: opacity;
    transition-duration: 0.2s;
  }
  
  .uni-top-mask {
    opacity: 1;
  }
  
  .uni-bottom-mask {
    opacity: 1;
  }
  
  .uni-center-mask {
    opacity: 1;
  }
  
  .uni-popup__wrapper {
    /* #ifndef APP-NVUE */
    display: block;
    /* #endif */
    position: absolute;
  }
  
  .top {
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-500px);
  }
  
  .bottom {
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(500px);
  }
  
  .center {
    /* #ifndef APP-NVUE */
    display: flex;
    flex-direction: column;
    /* #endif */
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    transform: scale(1.2);
    opacity: 0;
  }
  
  .uni-popup__wrapper-box {
    /* #ifndef APP-NVUE */
    display: block;
    /* #endif */
    position: relative;
  }
  
  .content-ani {
    /* transition: transform 0.3s;
  */
    transition-property: transform, opacity;
    transition-duration: 0.2s;
  }
  
  
  .uni-top-content {
    transform: translateY(0);
  }
  
  .uni-bottom-content {
    transform: translateY(0);
  }
  
  .uni-center-content {
    transform: scale(1);
    opacity: 1;
  }