/* 加载中 */
.van-popup-load{
    background: none;
    .van-loading{
        .van-loading__spinner {
            width: 0.7rem;
            height: 0.7rem;
        }
        .van-loading__text{
            font-size: 0.42rem;
        }
    }
}